.DS_Store
*.swp
*~.nib

build/

# Xcode project files except for the project file
#*.xcodeproj/*
#!*.xcodeproj/project.pbxproj

*.pbxuser
*.perspective
*.perspectivev3

#!xcuserdata/
#*.xcuserstate
UserInterfaceState.xcuserstate

# Windows image thumbnail file
Thumbs.db